@page
@model LayoutTemplateWebApp.EventosTemp.DeleteModel

@{
    ViewData["Title"] = "Delete";
    var userRole = @Model.role;
    string layoutName;
    switch (userRole)
    {
        case "1616": // Estudiante
            layoutName = "_LayoutEstudiante";
            break;
        case "1717": // Profesor
            layoutName = "_LayoutProfesor";
            break;
        case "1919": // Organizador
            layoutName = "_LayoutOrganizador";
            break;
        default:
            layoutName = "_ErrorLayout";
            break;
    }

    Layout = layoutName;
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Facility</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.FacilityType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.FacilityType.idFacilityType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.Location.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.FacilityAdministrator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.FacilityAdministrator.email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Facility.idFacility" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
