@page
@model LayoutTemplateWebApp.Pages.EventosCRUD.ActividadesCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Event.idEvent)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Activity.idActivity" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
