@page
@model LayoutTemplateWebApp.Pages.EventosCRUD.ActividadesCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Event.idEvent)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Activity?.idActivity">Edit</a> |
    <a asp-page="../Index">Devuelta a eventos</a>
</div>
